body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,
	sans-serif;
}

.container{
	margin: auto;
	width: 80%;
	max-width: 1000px;
	display: grid;
	place-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin: auto;
	margin-right: 30px;
}
button:hover{
	opacity: 90%;
}
