.filters{
	display: flex;
	justify-content: center;
	margin: auto;
	color: white;
	width: 100%;
	height: 70px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
.amenities, .locations{
	box-sizing: border-box;
	display: grid;
	place-items: center;
	width: 25%;
	height: 100%;
	color: black;
	border-right: 1px solid #DDDDDD;
}
.title{
	margin-bottom: 0px;
	font-weight: 600;
}
.subtitle{
	margin-top: 3px;
	font-weight: 400;
}
.popover{
	margin-top: 0px;
	box-sizing: border-box;
	background-color: #FAFAFA;
	width: 100%;
	list-style: none;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 20px 20px 20px 20px;
	display: none;
	z-index: 20;
	transition: 00ms;
}
.popover > li > ul{
	list-style: none;
}
.list-title{
	margin-top: 0;
	margin-bottom: 5px;
}
.list-title > li {
	font-size: 16px;
	margin-top: 5px;
	padding: 3px;
}
.list-title > li > ul{
	margin-top: 3px;
	padding: 5px;
}
.popover:hover{
	transition: 600ms;
}
div.locations:hover ul{
	display: block;
}
div.amenities:hover ul{
	display: block;
}
